NODE_ENV=development

SUPABASE_URL=https://bvdfgvlczpyqwciwkuqo.supabase.co
SUPABASE_PUBLISHABLE_KEY=b_publishable_oD5Ny70DJzNuydeAwzRUcg_Bf1-wYyp

SMS_PROVIDER_URL=https://webbulksms.co.tz/api/v1/send-sms
SMS_USERNAME=yuiop
SMS_PASSWORD=Napoleon!3
SMS_SENDER_ID=YUIOP APPS
SMS_POLL_INTERVAL_SECONDS=10
SMS_BATCH_SIZE=20
